*{
  margin:0;  
  padding:0; 
}
  
body, html{height:100%;}

  
footer{
  background: #e5e8e8  ;
  text-align:left;
  font-family : bold;
  position:absolute;
  bottom:0;
  width:100%;
   
  }